# Python
__pycache__/
*.py[cod]
.venv/

# Environment
.env

# DuckDB
*.duckdb
*.duckdb.wal

# Data
data/raw/*
data/processed/*

# Keep directory structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
logs/

# Temporary
tmp/
temp/

# Dagster local runtime
.dagster_home/

# Local backups
*.backup
